.profile-photo {
    width: 300px;
    height: 300px;
}

li {
    font-style: oblique;
}

body {
    font-family: Georgia, serif;;
    padding-top: 8%;
}

body {
    text-align: center;
    background-image: url("firespin2.jpeg");
    background-position: right;
    background-repeat: no-repeat;
}

head {
    color: white;
}

h1 {
    color: orangered;
}

ul {
    color: antiquewhite;
    text-shadow: 2px 2px 2px red;
}